.title-55 {
  color: #E2EEFF;
  text-shadow: 2px 2px 7.6px #5C9FFF, 194px 180px 74px rgba(79, 130, 232, 0.01), 124px 115px 68px rgba(79, 130, 232, 0.07), 70px 65px 57px rgba(79, 130, 232, 0.25), 31px 29px 42px rgba(79, 130, 232, 0.43), 8px 7px 23px rgba(79, 130, 232, 0.49);
  font-family: "Bicubik";
  font-size: 55px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 768px) {
  .title-55 {
    font-size: 28px;
  }
}

.desc-18 {
  color: #E2EEFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
}
@media (max-width: 768px) {
  .desc-18 {
    font-size: 16px;
  }
}
.desc-18 strong {
  font-weight: 900;
}
@media (max-width: 768px) {
  .desc-18 strong {
    font-weight: 700;
  }
}
.desc-18.fw-400 {
  font-weight: 400;
}

.fw-800 {
  font-weight: 800;
}
@media (max-width: 768px) {
  .fw-800 {
    font-weight: 700;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 48, 83, 0.5);
  display: none;
  overflow-y: scroll;
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
  visibility: hidden;
}
@media (max-width: 768px) {
  .modal {
    padding: 16px;
  }
}
.modal.is_active {
  display: flex;
  visibility: visible;
}
.modal.is_active .modal-inner {
  animation: scaleModal 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 32px;
  display: flex;
  transition: scale 0.3s ease;
}
@media (max-width: 768px) {
  .modal__close {
    top: 24px;
    right: 24px;
  }
}
@media (max-width: 768px) {
  .modal__close svg {
    width: 24px;
    height: 24px;
  }
}
.modal__close:hover {
  scale: 1.1;
}
.modal__close:active {
  scale: 0.9;
}
.modal__title {
  color: #080E23;
  font-size: 45px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 30px;
  width: calc(100% - 30px);
}
@media (max-width: 768px) {
  .modal__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.modal__nomination {
  color: #080E23;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 30px;
  background: #E2EEFF;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .modal__nomination {
    font-size: 12px;
    padding: 8px 16px;
  }
}

.modal-inner {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 24px;
  padding: 40px 32px;
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  cursor: auto;
  will-change: scale, opacity, transform;
}
@media (max-width: 768px) {
  .modal-inner {
    padding: 24px 16px;
    border: 16px;
  }
}
.modal-inner__box {
  width: 100%;
}

@keyframes scaleModal {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 12px;
  border-radius: 100px;
  background: #0059D7;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  outline: none;
  border: none;
  transition: background 0.3s ease;
}
@media (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}

.btn-header {
  position: absolute;
  background: rgba(0, 89, 215, 0.49);
  padding: 0px 12px;
  transition: all 0.3s ease;
  z-index: 100;
}
@media (max-width: 768px) {
  .btn-header {
    padding: 0;
  }
}
.btn-header_tg {
  width: 150px;
  height: 48px;
  top: 0;
  right: 200px;
}
@media (max-width: 768px) {
  .btn-header_tg {
    width: 28px;
    height: 28px;
    right: 54px;
    top: 12px;
  }
}
.btn-header_tg.iconed {
  right: 0;
}
@media (max-width: 768px) {
  .btn-header_tg.iconed {
    right: 54px;
    top: 12px;
  }
}
.btn-header_an {
  width: 185px;
  height: 48px;
  right: 0;
  top: 0;
}
@media (max-width: 768px) {
  .btn-header_an {
    width: 28px;
    height: 28px;
    right: 16px;
    top: 12px;
  }
}
.btn-header_an.iconed {
  top: 50px;
}
@media (max-width: 768px) {
  .btn-header_an.iconed {
    right: 16px;
    top: 12px;
  }
}
.btn-header span {
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .btn-header span {
    display: none;
  }
}
.btn-header svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .btn-header svg {
    width: 28px;
    height: 28px;
  }
}
.btn-header.iconed {
  width: 40px;
  height: 40px;
  background: white;
}
.btn-header.iconed:hover {
  background: #a8c5ee;
}
@media (max-width: 768px) {
  .btn-header.iconed {
    width: 28px;
    height: 28px;
  }
}
.btn-header.iconed span {
  opacity: 0;
  pointer-events: none;
}
.btn-header.iconed svg {
  opacity: 1;
}

@media (hover: hover) {
  .btn-header:hover {
    background: #0059D7;
  }
}
@media (hover: none) {
  .btn-header:active {
    background: #a8c5ee;
  }
}
.container {
  width: 100%;
  max-width: 1070px;
  padding-inline: 10px;
  margin-inline: auto;
}
.container_xl {
  max-width: 1190px;
}
.container_s {
  max-width: 950px;
}
@media (max-width: 768px) {
  .container {
    padding-inline: 16px;
  }
}

.scrollbar {
  position: fixed;
  left: 8vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 76px;
  padding: 30px 0;
  width: 42px;
  border-radius: 40px;
  border: 1px solid #FFF;
  transition: top 0.3s ease;
  z-index: 100;
}
.scrollbar__point {
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #FFF;
  box-shadow: 0px 4px 9.4px rgba(255, 255, 255, 0.48);
  transition: width 0.3s ease, height 0.3s ease;
}
.scrollbar__point.active {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .scrollbar {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 30px 0 0;
  transform-origin: top left;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 18px;
}
.header .container {
  position: relative;
}

.main {
  position: relative;
  overflow-x: hidden;
}
.main__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
.main__img.loaded {
  opacity: 1;
}
@media (max-width: 768px) {
  .main__img_desk {
    display: none;
  }
}
.main__img_mobile {
  display: none;
}
@media (max-width: 768px) {
  .main__img_mobile {
    display: flex;
  }
}

.hero {
  position: relative;
  padding: 200px 0 100px;
}
@media (max-width: 768px) {
  .hero {
    padding: 160px 0 100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.hero__box {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .hero__box {
    grid-template-columns: 100%;
    gap: 60px;
  }
}
.hero__left {
  padding-top: 24px;
}
@media (max-width: 768px) {
  .hero__left {
    padding-top: 0;
  }
}
.hero__left-content {
  color: #FFF;
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero__left-content {
    font-size: 16px;
  }
}
.hero__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: end;
  align-items: end;
}
@media (max-width: 768px) {
  .hero__right {
    align-items: start;
    justify-content: start;
    gap: 24px;
  }
}
.hero__title {
  color: #E2EEFF;
  text-shadow: 2px 2px 7.6px #5C9FFF, 194px 180px 74px rgba(79, 130, 232, 0.01), 124px 115px 68px rgba(79, 130, 232, 0.07), 70px 65px 57px rgba(79, 130, 232, 0.25), 31px 29px 42px rgba(79, 130, 232, 0.43), 8px 7px 23px rgba(79, 130, 232, 0.49);
  font-family: "Bicubik";
  font-size: 129px;
  font-weight: 400;
  line-height: 110%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 63px;
  }
}
.hero__title span {
  font-size: 106px;
}
@media (max-width: 768px) {
  .hero__title span {
    font-size: 51px;
  }
}
.hero__desc {
  color: #C8DFFF;
  font-size: 64px;
  font-weight: 100;
  line-height: 110%;
}
@media (max-width: 768px) {
  .hero__desc {
    font-size: 32px;
  }
}
.hero__btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .hero__btn {
    margin-top: 16px;
  }
}
.hero__btn span {
  color: #FFF;
  font-size: 30px;
  font-weight: 100;
  line-height: 110%;
}
@media (max-width: 768px) {
  .hero__btn span {
    font-size: 24px;
  }
}
.hero__btn-svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .hero__btn-svg {
    display: none;
  }
}
.hero__btn-svg-hover {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: -16px;
  left: -16px;
}
.hero__btn-svg_mob {
  display: none;
}
@media (max-width: 768px) {
  .hero__btn-svg_mob {
    display: flex;
  }
}
.hero__btn-svg-wrapper {
  position: relative;
  width: 134px;
  height: 134px;
  display: flex;
}
@media (max-width: 768px) {
  .hero__btn-svg-wrapper {
    width: 76px;
    height: 76px;
  }
}
.hero__btn:hover .hero__btn-svg-hover {
  opacity: 1;
  pointer-events: none;
}
.hero__btn:hover .hero__btn-svg-nohover {
  opacity: 0;
}

.dyn-world {
  position: relative;
  padding: 100px 0 0;
}
@media (max-width: 768px) {
  .dyn-world {
    padding: 100px 0;
  }
}
.dyn-world__box {
  display: grid;
  grid-template-columns: 552px 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .dyn-world__box {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
.dyn-world__img {
  position: relative;
  margin-left: auto;
  margin-right: 110px;
  margin-top: -50px;
  height: 440px;
  max-width: 440px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
@media (max-width: 768px) {
  .dyn-world__img {
    position: absolute;
    right: -50px;
    bottom: -150px;
    max-width: 240px;
    height: 240px;
    margin: 0;
  }
}

.rules {
  padding: 0 0 35px;
  margin-top: -50px;
}
@media (max-width: 768px) {
  .rules {
    padding: 100px 0;
  }
}
.rules__heading {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .rules__heading {
    max-width: 100%;
    gap: 0;
    margin-bottom: 52px;
  }
}
.rules__title {
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .rules__title {
    max-width: 320px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .rules__desc.fw-800 {
    margin-top: 12px;
  }
}

.rule-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  overflow: hidden;
  border-radius: 20px;
  padding: 24px 30px;
  height: 390px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .rule-item {
    height: 234px;
    gap: 16px;
    padding: 20px 16px;
    border-radius: 16px;
  }
}
.rule-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 18, 23, 0.29);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: -1;
  transition: -webkit-backdrop-filter 0.5s ease;
  transition: backdrop-filter 0.5s ease;
  transition: backdrop-filter 0.5s ease, -webkit-backdrop-filter 0.5s ease;
}
.rule-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.rule-item__box {
  display: flex;
  flex-direction: column;
}
.rule-item__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: margin-bottom 0.5s ease;
}
@media (max-width: 768px) {
  .rule-item__title {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 110%;
  }
}
.rule-item__subtitle {
  color: #FFF;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  opacity: 0;
  transition: opacity 0.6s ease;
}
@media (max-width: 768px) {
  .rule-item__subtitle {
    font-size: 12px;
    line-height: 100%;
  }
}
.rule-item__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  margin-bottom: 0px;
  transition: margin-bottom 0.5s ease, opacity 0.5s ease;
}
@media (max-width: 768px) {
  .rule-item__content {
    gap: 4px;
  }
}
.rule-item__point {
  color: #FFF;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 120%;
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  .rule-item__point {
    font-size: 10px;
    line-height: 100%;
    gap: 6px;
  }
}
.rule-item__point::before {
  content: "";
  width: 6px;
  height: 6px;
  display: flex;
  background: #fff;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .rule-item__point::before {
    width: 4px;
    height: 4px;
    margin-top: 4px;
  }
}
.rule-item__link {
  margin-top: 24px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px;
  opacity: 0;
  transition: opacity 1.2s ease;
}
@media (max-width: 768px) {
  .rule-item__link {
    padding: 8px;
    margin-top: 10px;
  }
}
.rule-item.hovered .rule-item__subtitle {
  opacity: 1;
}
.rule-item.hovered .rule-item__content {
  opacity: 1;
}
.rule-item.hovered .rule-item__point {
  opacity: 1;
}
.rule-item.hovered .rule-item__link {
  opacity: 1;
}
.rule-item.hovered::before {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.swiper-rules {
  position: relative;
}
.swiper-rules .swiper-slide {
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}
.swiper-rules .swiper-slide.visible {
  opacity: 1;
  pointer-events: all;
}
.swiper-rules__nav {
  position: absolute;
  bottom: 0px;
  right: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
@media (max-width: 768px) {
  .swiper-rules__nav {
    position: relative;
    bottom: unset;
    right: unset;
    flex-direction: row-reverse;
    margin-top: 15px;
    justify-content: end;
    display: none;
  }
}

.swiper-arrow-btn {
  cursor: pointer;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 9.4px rgba(255, 255, 255, 0.48);
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .swiper-arrow-btn {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .swiper-arrow-btn svg {
    height: 12px;
    width: 6px;
  }
}
.swiper-arrow-btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.swiper-arrow-btn.swiper-button-lock {
  display: none !important;
}
.swiper-arrow-btn__next {
  padding-left: 3px;
}
@media (max-width: 768px) {
  .swiper-arrow-btn__next {
    padding-left: 1px;
  }
}
.swiper-arrow-btn__prev {
  padding-right: 3px;
}
@media (max-width: 768px) {
  .swiper-arrow-btn__prev {
    padding-right: 1px;
  }
}
.swiper-arrow-btn:hover {
  scale: 1.05;
}
.swiper-arrow-btn:active {
  scale: 0.95;
}

.announcement {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .announcement {
    padding: 100px 0;
  }
}
.announcement__title {
  line-height: 110%;
}
.announcement__box {
  display: grid;
  grid-template-columns: 530px 1fr;
  gap: 40px;
}
@media (max-width: 768px) {
  .announcement__box {
    grid-template-columns: 100%;
    gap: 52px;
  }
}
.announcement__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .announcement__right {
    order: -1;
    gap: 20px;
  }
}
.announcement__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px;
  background: linear-gradient(221deg, rgba(75, 137, 225, 0.11) 32.25%, rgba(27, 79, 163, 0.53) 86.17%);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  border-radius: 22px;
}
@media (max-width: 768px) {
  .announcement__left {
    border-radius: 16px;
    padding: 20px 12px;
    gap: 20px;
  }
}
.announcement__left-inner {
  min-height: 200px;
}
@media (max-width: 768px) {
  .announcement__left-inner {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.announcement__tab-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .announcement__tab-content {
    gap: 12px;
    min-height: 100px;
  }
}
.announcement__tab-title {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 120%;
}
@media (max-width: 768px) {
  .announcement__tab-title {
    font-size: 16px;
    line-height: 110%;
  }
}
.announcement__tab-desc {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
}
@media (max-width: 768px) {
  .announcement__tab-desc {
    font-size: 12px;
    line-height: 110%;
  }
}
.announcement__tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 25px;
  border: none;
}
@media (max-width: 768px) {
  .announcement__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  aspect-ratio: 1/1;
  padding: 10px;
  border: none !important;
  outline: none !important;
  transition: background 0.3s ease;
}
@media (max-width: 768px) {
  .tab {
    width: 77px;
    height: 77px;
    gap: 6px;
    border: 8px;
    padding: 15px;
  }
}
.tab[role=tab][aria-selected=true] {
  background: linear-gradient(207deg, rgba(75, 137, 225, 0.42) 24.9%, rgba(27, 79, 163, 0.53) 88.23%), rgba(213, 231, 255, 0.1);
}
.tab[role=tab][aria-selected=true] .tab__num, .tab[role=tab][aria-selected=true] .tab__month {
  font-weight: 500;
}
.tab[role=tab]:hover:not([aria-selected=true]) {
  background: linear-gradient(207deg, rgba(75, 137, 225, 0.42) 24.9%, rgba(27, 79, 163, 0.53) 88.23%), rgba(213, 231, 255, 0.1);
}
.tab__num {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  line-height: 100%;
  transition: font-weight 0.3s ease;
}
@media (max-width: 768px) {
  .tab__num {
    font-size: 32px;
  }
}
.tab__month {
  color: #FFF;
  font-size: 18px;
  font-weight: 100;
  line-height: 100%;
  transition: font-weight 0.3s ease;
}
@media (max-width: 768px) {
  .tab__month {
    font-size: 14px;
  }
}

.main-prize {
  padding: 180px 0 150px;
}
@media (max-width: 768px) {
  .main-prize {
    padding: 100px 0;
  }
}
.main-prize__box {
  display: grid;
  grid-template-columns: 1fr 417px;
  gap: 30px;
}
@media (max-width: 768px) {
  .main-prize__box {
    grid-template-columns: 100%;
    gap: 60px;
  }
}
.main-prize__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .main-prize__left {
    gap: 24px;
  }
}
.main-prize__title {
  font-size: 80px;
  line-height: 110%;
}
@media (max-width: 768px) {
  .main-prize__title {
    font-size: 48px;
  }
}
.main-prize__desc {
  max-width: 383px;
}
@media (max-width: 768px) {
  .main-prize__desc {
    max-width: 250px;
  }
}
.main-prize__card {
  position: relative;
  border-radius: 22px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(75, 137, 225, 0.29) 0%, rgba(0, 105, 179, 0.53) 54.59%, rgba(190, 215, 255, 0.53) 100%);
  padding: 30px 22px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media (max-width: 768px) {
  .main-prize__card .swiper-main-prize__btn {
    border-color: white;
  }
  .main-prize__card .swiper-main-prize__btn path {
    stroke: white;
  }
}
@media (max-width: 768px) {
  .main-prize__card {
    border-radius: 16px;
    gap: 12px;
    padding: 20px 16px;
    max-width: calc(100% - 42px);
  }
}
.main-prize__right {
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .main-prize__right {
    padding-top: 0;
    gap: 16px;
  }
}
.main-prize__subtitle {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main-prize__subtitle {
    font-size: 16px;
  }
}

.swiper-main-prize {
  overflow: hidden;
}
.swiper-main-prize__pagi {
  position: relative;
  top: unset !important;
  left: unset !important;
  bottom: unset !important;
  right: unset !important;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.swiper-main-prize__pagi .swiper-pagination-bullet {
  margin: 0 !important;
  width: 15px;
  height: 15px;
  opacity: 1;
  background: transparent;
  border: 1px solid #fff;
  transition: background 0.3s ease;
}
@media (max-width: 768px) {
  .swiper-main-prize__pagi .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.swiper-main-prize__pagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-main-prize__content {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 110%;
}
@media (max-width: 768px) {
  .swiper-main-prize__content {
    font-size: 12px;
  }
}
.swiper-main-prize__btn {
  border-color: #080E23;
  box-shadow: none;
}
@media (max-width: 768px) {
  .swiper-main-prize__nav {
    position: absolute;
    bottom: 0;
    right: -42px;
    flex-direction: column;
    margin-top: 0;
  }
}

.faq {
  padding: 100px 0 160px;
}
@media (max-width: 768px) {
  .faq {
    padding: 50px 0 100px;
  }
}
.faq__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .faq__box {
    gap: 12px;
  }
}
.faq__title {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .faq__title {
    margin-bottom: 24px;
    text-align: left;
  }
}

.faq-item {
  cursor: pointer;
  border-radius: 22px;
  background: linear-gradient(221deg, rgba(75, 137, 225, 0.11) 32.25%, rgba(27, 79, 163, 0.53) 156.95%);
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
  padding: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .faq-item {
    padding: 20px;
    border-radius: 16px;
  }
}
.faq-item__head {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .faq-item__head {
    gap: 10px;
    align-items: start;
  }
}
.faq-item__icon {
  transition: transform 0.3s ease;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .faq-item__icon {
    width: 15px;
    height: 15px;
  }
}
.faq-item__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.faq-item__title br.not-desk {
  display: none;
}
@media (max-width: 768px) {
  .faq-item__title br.not-desk {
    display: flex;
  }
}
@media (max-width: 768px) {
  .faq-item__title {
    font-size: 16px;
  }
}
.faq-item__body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.faq-item__desc {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .faq-item__desc {
    font-size: 12px;
    max-width: calc(100% - 30px);
  }
}
.faq-item.active .faq-item__icon {
  transform: rotate(45deg);
}

.feedback {
  padding: 135px 0 270px;
}
@media (max-width: 768px) {
  .feedback {
    padding: 100px 0;
  }
}
.feedback__box {
  position: relative;
  display: grid;
  grid-template-columns: 373px 1fr;
  gap: 30px;
  padding: 100px 38px 50px;
}
@media (max-width: 768px) {
  .feedback__box {
    padding: 30px 12px 25px;
    grid-template-columns: 100%;
    gap: 20px;
    background: linear-gradient(129deg, rgba(75, 137, 225, 0.11) 4.15%, rgba(27, 79, 163, 0.53) 66.46%);
    -webkit-backdrop-filter: blur(17px);
            backdrop-filter: blur(17px);
    border-radius: 16px;
  }
}
.feedback__bg {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  max-width: 930px;
  height: 490px;
  z-index: -1;
}
@media (max-width: 768px) {
  .feedback__bg {
    display: none;
  }
}
.feedback__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .feedback__left {
    gap: 15px;
  }
}
.feedback__title {
  color: #fff;
  text-shadow: none;
  line-height: 110%;
}
@media (max-width: 768px) {
  .feedback__title {
    text-shadow: 2px 2px 7.6px #5C9FFF, 194px 180px 74px rgba(79, 130, 232, 0.01), 124px 115px 68px rgba(79, 130, 232, 0.07), 70px 65px 57px rgba(79, 130, 232, 0.25), 31px 29px 42px rgba(79, 130, 232, 0.43), 8px 7px 23px rgba(79, 130, 232, 0.49);
  }
}
.feedback__desc {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 768px) {
  .feedback__desc {
    font-size: 16px;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .feedback-form {
    gap: 16px;
  }
}
.feedback-form__textarea {
  resize: none;
  background: transparent;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  outline: none;
  padding: 16px 14px;
  height: 220px;
  color: #FFF;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  line-height: 120%;
}
@media (max-width: 768px) {
  .feedback-form__textarea {
    font-size: 12px;
    line-height: 110%;
    padding: 16px;
    height: 92px;
  }
}
.feedback-form__textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.feedback-form__textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}
.feedback-form__btn {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .feedback-form__btn {
    font-size: 14px;
  }
}

.footer {
  background: #00091E;
  padding: 40px 0 30px;
}
.footer__cont {
  width: 100%;
  max-width: 1140px;
  padding-inline: 10px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .footer__cont {
    padding-inline: 16px;
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}
.footer__logo {
  display: flex;
}
@media (max-width: 768px) {
  .footer__logo svg {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    max-width: 84px;
    height: 26px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}
@media (max-width: 768px) {
  .footer__social {
    gap: 10px;
  }
}
.footer__link {
  display: flex;
}
@media (max-width: 768px) {
  .footer__link svg {
    width: 28px;
    height: 28px;
  }
}
.footer__link path {
  transition: fill 0.3s ease;
}
.footer__link:hover path {
  fill: #5C9FFF;
}
.footer__madein {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: span 2;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
}
@media (max-width: 768px) {
  .footer__madein {
    font-size: 16px;
  }
}
.footer__madein a {
  transition: opacity 0.3s ease;
}
.footer__madein a:hover {
  opacity: 0.8;
}

.rule-modal__box {
  position: relative;
  max-width: 943px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .rule-modal__box {
    max-width: 100%;
    margin-top: 10px;
    gap: 20px;
  }
}
.rule-modal__subtitle {
  color: #080E23;
  font-size: 34px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .rule-modal__subtitle {
    font-size: 16px;
    line-height: 110%;
    order: -1;
  }
}
.rule-modal__subtitle span {
  color: #0059D7;
}
.rule-modal__winners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
@media (max-width: 768px) {
  .rule-modal__winners {
    grid-template-columns: 100%;
    gap: 10px;
  }
}
.rule-modal__criteria {
  color: #080E23;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  line-height: 110%;
}
@media (max-width: 768px) {
  .rule-modal__criteria {
    font-size: 16px;
  }
}
.rule-modal__criteria b {
  font-weight: 300;
}
.rule-modal__nav {
  bottom: 50px;
}
@media (max-width: 768px) {
  .rule-modal__nav {
    bottom: unset;
    margin-top: -10px;
    order: 1;
    justify-content: start;
  }
}

.swiper-modal-rule-title {
  overflow: hidden;
}

.rule-winner {
  padding: 25px 23px 30px;
  border-radius: 20px;
  background: rgba(0, 89, 215, 0.2);
}
@media (max-width: 768px) {
  .rule-winner {
    padding: 16px;
    display: grid;
    grid-template-columns: 64px 1fr;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.rule-winner:nth-child(2) .rule-winner__img {
  border-color: #4692FF;
}
.rule-winner:nth-child(3) .rule-winner__img {
  border-color: #93BFFF;
}
.rule-winner__img-box {
  position: relative;
  height: 157px;
  width: 157px;
  margin-inline: auto;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .rule-winner__img-box {
    width: 64px;
    height: 64px;
    grid-row: 1/3;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.rule-winner__img-box svg {
  position: absolute;
  bottom: -20px;
  right: -17px;
}
@media (max-width: 768px) {
  .rule-winner__img-box svg {
    width: 26px;
    height: 31px;
    bottom: -8px;
    right: -3px;
  }
}
.rule-winner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #0059D7;
}
@media (max-width: 768px) {
  .rule-winner__img {
    border: 2px solid #0059D7;
  }
}
.rule-winner__title {
  color: #080E23;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 7px;
}
@media (max-width: 768px) {
  .rule-winner__title {
    text-align: left;
    font-size: 16px;
    line-height: 110%;
  }
}
.rule-winner__desc {
  color: #080E23;
  font-size: 14px;
  font-weight: 100;
  line-height: 120%;
  text-align: center;
}
@media (max-width: 768px) {
  .rule-winner__desc {
    text-align: left;
    font-size: 12px;
  }
}

.swiper-modal-rule-winners {
  overflow: hidden;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .swiper-modal-rule-winners {
    order: 0;
  }
}

.swiper-modal-rule-criteria {
  overflow: hidden;
}
@media (max-width: 768px) {
  .swiper-modal-rule-criteria {
    order: 2;
  }
}

.login-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
@media (max-width: 768px) {
  .login-page {
    padding: 32px;
  }
}
.login-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 18, 23, 0.19);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  z-index: -1;
}
.login-page__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -2;
}
.login-page__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #fff;
  border-radius: 22px;
  padding: 40px;
  max-width: 552px;
  width: 100%;
}
@media (max-width: 768px) {
  .login-page__box {
    max-width: 100%;
    padding: 40px 14px;
  }
}
.login-page__title {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .login-page__title {
    font-size: 22px;
  }
}
.login-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.login-page__input {
  width: 100%;
  border-radius: 80px;
  border: 1px solid #000;
  padding: 15px 25px;
  background: #fff;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 100%;
}
@media (max-width: 768px) {
  .login-page__input {
    padding: 13px 23px;
  }
}
.login-page__input::-moz-placeholder {
  color: #000;
  opacity: 0.3;
}
.login-page__input::placeholder {
  color: #000;
  opacity: 0.3;
}
.login-page__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 45px;
  font-size: 20px;
  font-weight: 300;
  transition: opacity 0.3s ease;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .login-page__btn {
    padding: 18px 30px;
    font-size: 16px;
  }
}
.login-page__btn:hover {
  opacity: 0.7;
}
.login-page__link {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  line-height: 120%;
  transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
  .login-page__link {
    font-size: 16px;
  }
}
.login-page__link:hover {
  opacity: 0.7;
}

.pecowrapper {
  width: 1440px;
  transform-origin: top left;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .pecowrapper {
    width: 100%;
    transform-origin: none;
  }
}

body {
  overflow-x: hidden;
}

.rules__btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 40px;
  font-size: 25px;
  padding: 20px 17px;
  transition: opacity 0.3s ease, scale 0.3s ease;
}
@media (max-width: 768px) {
  .rules__btn {
    padding: 16px 18px;
    font-size: 18px;
    margin-top: 10px;
  }
}
.rules__btn:hover {
  opacity: 0.8;
}
.rules__btn:active {
  scale: 0.95;
}

.allmonth {
  padding-inline: 16px;
}

.modal-inner__box.allmonth-inner__box {
  color: black;
}

.allmonth__title {
  color: #000;
  font-size: 34px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .allmonth__title {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
.allmonth__title_nom {
  margin-top: 48px;
}
@media (max-width: 768px) {
  .allmonth__title_nom {
    margin-top: 24px;
  }
}

.allmonth__subtitle {
  position: relative;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 16px;
  margin-top: 48px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .allmonth__subtitle {
    font-size: 18px;
    margin-top: 32px;
  }
}
.allmonth__subtitle span {
  color: #0059D7;
}
.allmonth__subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-size: 26px;
  background-repeat: no-repeat;
  background-image: url("../src/icons/finger-swipe.gif");
  display: none;
}
@media (max-width: 768px) {
  .allmonth__subtitle::after {
    display: flex;
  }
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 12px;
}
@media (max-width: 768px) {
  .tabs-container {
    gap: 5px;
  }
}

.tabmonth {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #1B4FA3;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .tabmonth {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
  }
}
.tabmonth.active {
  background: #1B4FA3;
  color: #fff;
}

.month-select {
  position: relative;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  padding: 0 15px 0 25px;
  cursor: pointer;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}
@media (max-width: 768px) {
  .month-select {
    font-size: 14px;
  }
}
.month-select::-ms-expand {
  display: none;
}
.month-select__wrapper {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .month-select__wrapper {
    margin-bottom: 16px;
  }
}
.month-select__wrapper::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.3375 0.0359214C4.19329 0.099127 4.04375 0.275047 4.017 0.412947C4.00514 0.474083 4.0005 0.821852 4.00664 1.1858C4.01689 1.79081 4.02418 1.85571 4.0915 1.94268C4.23154 2.12367 4.34564 2.18012 4.57143 2.18012C4.79729 2.18012 4.91143 2.12361 5.05136 1.94258C5.12046 1.85315 5.125 1.80102 5.125 1.09334C5.125 0.385657 5.12046 0.333526 5.05136 0.2441C5.01086 0.191693 4.93571 0.118517 4.88439 0.081497C4.76618 -0.00375471 4.48207 -0.0274223 4.3375 0.0359214ZM11.1946 0.0359214C11.0504 0.099127 10.9009 0.275047 10.8741 0.412947C10.8623 0.474083 10.8576 0.821852 10.8638 1.1858C10.8761 1.90998 10.8839 1.93803 11.1209 2.10898C11.2592 2.20872 11.598 2.20872 11.7363 2.10898C11.9796 1.93344 11.9821 1.92316 11.9821 1.09334C11.9821 0.385657 11.9776 0.333526 11.9085 0.2441C11.868 0.191693 11.7929 0.118517 11.7415 0.081497C11.6233 -0.00375471 11.3392 -0.0274223 11.1946 0.0359214ZM1.29768 0.59042C0.681357 0.734806 0.168214 1.24659 0.0393572 1.84543C0.0151072 1.958 0 2.48493 0 3.21684V4.40543H16V3.21684C16 2.48493 15.9849 1.958 15.9606 1.84543C15.8274 1.22606 15.2918 0.708724 14.65 0.579449C14.5459 0.558472 14.1643 0.541325 13.8018 0.541325H13.1429V1.15765C13.1429 1.49659 13.1265 1.8575 13.1064 1.95962C12.9758 2.62504 12.3864 3.17043 11.6847 3.27535C10.8258 3.4038 9.9915 2.86607 9.76896 2.04067C9.72925 1.89338 9.71429 1.6604 9.71429 1.1896V0.541325H6.28571V1.15765C6.28571 1.88093 6.25714 2.06137 6.09071 2.38923C5.85554 2.85258 5.36571 3.19489 4.82143 3.27628C3.96896 3.40373 3.13361 2.86324 2.91182 2.04067C2.87211 1.89338 2.85714 1.6604 2.85714 1.1896V0.541325L2.16964 0.544258C1.75157 0.546052 1.40986 0.56413 1.29768 0.59042ZM0 10.0101C0 13.1539 0.0118572 14.5659 0.0393572 14.6936C0.171857 15.3093 0.712679 15.8317 1.34996 15.9597C1.61736 16.0134 14.3826 16.0134 14.65 15.9597C15.2873 15.8317 15.8281 15.3093 15.9606 14.6936C15.9881 14.5659 16 13.1539 16 10.0101V5.50946H0V10.0101ZM4.90846 7.8342C5.13075 7.99811 5.14836 8.07839 5.13593 8.87102C5.125 9.56842 5.12493 9.56897 5.02879 9.69062C4.85914 9.90532 4.77061 9.92557 4.00239 9.92557C3.22861 9.92557 3.14161 9.90632 2.97793 9.69904C2.91116 9.61449 2.875 9.5111 2.875 9.40476V8.22684C2.875 8.12795 2.90863 8.03181 2.97071 7.95319C3.14679 7.73018 3.21368 7.71593 4.03861 7.7259L4.60404 7.73272C4.71417 7.73405 4.82092 7.76963 4.90846 7.8342ZM8.90847 7.8342C9.13075 7.99811 9.14836 8.07839 9.13593 8.87102C9.125 9.56842 9.12493 9.56897 9.02879 9.69062C8.85914 9.90532 8.77061 9.92557 8.00239 9.92557C7.22861 9.92557 7.14161 9.90632 6.97793 9.69904C6.91116 9.61449 6.875 9.5111 6.875 9.40476V8.22684C6.875 8.12795 6.90863 8.03181 6.97071 7.95319C7.14679 7.73018 7.21368 7.71593 8.03861 7.7259L8.60403 7.73272C8.71417 7.73405 8.82092 7.76963 8.90847 7.8342ZM12.9085 7.8342C13.1308 7.99811 13.1484 8.07839 13.1359 8.87102C13.125 9.56842 13.1249 9.56897 13.0288 9.69062C12.8591 9.90532 12.7706 9.92557 12.0024 9.92557C11.2286 9.92557 11.1416 9.90632 10.9779 9.69904C10.9112 9.61449 10.875 9.51109 10.875 9.40476V8.22684C10.875 8.12795 10.9086 8.03181 10.9707 7.95319C11.1468 7.73018 11.2137 7.71593 12.0386 7.7259L12.604 7.73272C12.7142 7.73405 12.8209 7.76963 12.9085 7.8342ZM4.90846 11.6983C5.13075 11.8622 5.14836 11.9425 5.13593 12.7351C5.125 13.4325 5.12493 13.4331 5.02879 13.5547C4.85914 13.7694 4.77061 13.7897 4.00239 13.7897C3.22861 13.7897 3.14161 13.7704 2.97793 13.5631C2.91116 13.4786 2.875 13.3752 2.875 13.2689V12.0909C2.875 11.9921 2.90863 11.8959 2.97071 11.8173C3.14679 11.5943 3.21368 11.58 4.03861 11.59L4.60404 11.5968C4.71417 11.5981 4.82092 11.6337 4.90846 11.6983ZM8.90847 11.6983C9.13075 11.8622 9.14836 11.9425 9.13593 12.7351C9.125 13.4325 9.12493 13.4331 9.02879 13.5547C8.85914 13.7694 8.77061 13.7897 8.00239 13.7897C7.22861 13.7897 7.14161 13.7704 6.97793 13.5631C6.91116 13.4786 6.875 13.3752 6.875 13.2689V12.0909C6.875 11.9921 6.90863 11.8959 6.97071 11.8173C7.14679 11.5943 7.21368 11.58 8.03861 11.59L8.60403 11.5968C8.71417 11.5981 8.82092 11.6337 8.90847 11.6983Z' fill='%231B4FA3'/%3E%3C/svg%3E");
  z-index: -1;
}
.month-select__wrapper::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 7px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M5 7.5L-8.68594e-07 0.5L10 0.500001L5 7.5Z' fill='%231B4FA3'/%3E%3C/svg%3E");
  z-index: -1;
}

.mobile-select {
  padding-left: 0;
}
.mobile-select__wrapper {
  margin-bottom: 0;
}
.mobile-select__wrapper::before {
  display: none;
}

@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto;
    margin-inline: -16px;
    padding-inline: 16px;
  }
}

table.leader-table {
  text-align: left;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
  border-spacing: 4px;
}
@media (max-width: 768px) {
  table.leader-table {
    font-size: 16px;
  }
}
table.leader-table th {
  font-weight: 700;
}
table.leader-table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
table.leader-table tbody tr td:first-child span {
  color: #FFF;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  line-height: 100%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #0059D7;
  display: flex;
  align-items: center;
  justify-content: center;
}
table.leader-table tbody tr td {
  padding: 10px 4px;
  white-space: nowrap;
}
table.leader-table tbody tr:first-child td {
  background: rgba(0, 89, 215, 0.35);
}
table.leader-table tbody tr:nth-child(2) td {
  background: rgba(70, 146, 255, 0.2);
}
table.leader-table tbody tr:last-child td {
  background: rgba(147, 191, 255, 0.15);
}/*# sourceMappingURL=style.css.map */