.title-page {
  color: #131523;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.title-heading {
  color: #131523;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.paragraph {
  color: #131523;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.paragraph_recs {
  color: #5A607F;
  font-weight: 500;
}

.line {
  height: 1px;
  background-color: #E6E9F4;
}

.button:link, .button:visited {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 16px;
  border-radius: 4px;
  width: 100%;
  transition: background 0.3s ease;
}
.button span {
  color: #5A607F;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.button path {
  transition: fill 0.3s ease;
}
.button:hover {
  background: #4F81FF;
}
.button:hover span {
  color: #fff;
}
.button:hover path {
  fill: #fff;
}
.button_active {
  background: #1E5EFF;
}
.button_active span {
  color: #fff;
}
.button_active path {
  fill: #fff;
}
.button_back:link, .button_back:visited {
  gap: 4px;
  padding: 0;
}
.button_back:link span, .button_back:visited span {
  color: #5A607F;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.button_back:hover {
  background: none;
}
.button_back:hover path {
  fill: #7E84A3;
}
.button_inner:link, .button_inner:visited {
  padding: 12px 20px;
}
.button_inner span {
  color: #131523;
}
.button_inner_active {
  background: #1E5EFF;
}
.button_inner_active span {
  font-weight: 700;
  color: #fff;
}

.tabs {
  display: flex;
  gap: 32px;
  position: relative;
  z-index: 1;
}
.tabs[role=tablist] {
  border-bottom: none;
}
.tabs__link[role=tab][aria-selected=true], .tabs__link[role=tab]:hover:not([aria-selected=true]), .tabs__link[role=tab] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}
.tabs__link[aria-selected=true] {
  color: #1E5EFF;
  border-bottom: 2px solid #1E5EFF !important;
}
.tabs__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.tabs__inner {
  margin-top: -4px;
}

.article-help {
  padding: 40px 28px;
  background-color: #fff;
  border-top: 1px solid #E6E9F4;
}
.article-help__heading {
  margin-bottom: 20px;
}
.article-help__btns {
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
}
.article-help__btn {
  padding: 8px 23px;
  background: transparent;
  border: 1px solid #D7DBEC;
  border-radius: 4px;
  color: #1E5EFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.article-help__btn:hover {
  background: #F5F6FA;
}
.article-help__btn:active {
  background: transparent;
}
.article-help__info {
  color: #5A607F;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 29px;
       column-gap: 29px;
}

.card {
  padding: 28px;
  background: #fff;
  border-radius: 6px;
}
.card__paragraph {
  color: #131523;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 12px 0 20px;
}
.card__link:link, .card__link:visited {
  color: #1E5EFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
  z-index: 999;
  background-color: #fff;
}
.header__nav {
  height: 68px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 11.7px;
  margin-right: 100px;
}
.header__logo span {
  font-size: 21.7px;
  font-weight: 700;
  line-height: 31px;
  color: #000;
}
.header__search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}
.header__search-input input {
  background-color: transparent;
  border: none;
  width: 70%;
  font-size: 14px;
  color: #5A607F;
}
.header__search-input input:focus {
  outline: none;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 34px;
}
.header__notify-btn {
  position: relative;
}
.header__notify-btn .notify_count {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E5EFF;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}
.header__chat-btn, .header__notify-btn {
  height: 24px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.header__profile img {
  border-radius: 50%;
  width: 39px;
  height: 39px;
  background-color: rgb(207, 207, 207);
}
.header__profile svg {
  margin-left: 7px;
}

main.main {
  position: relative;
  background: #F5F6FA;
  height: 100vh;
  padding-top: 68px;
  padding-left: 250px;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  box-shadow: -1px 0px 0px 0px #D7DBEC inset;
  height: 100%;
  padding-top: 68px;
}
.aside__wrapper {
  overflow-y: scroll;
  height: 100%;
  padding: 16px;
}
.aside__nav {
  display: flex;
  flex-direction: column;
}
.aside__which-block {
  color: #A1A7C4;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 28px 0 12px 16px;
}

.content {
  padding: 29px 40px;
}
.content__box {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.content__nav {
  margin-top: 30px;
  max-width: 255px;
  width: 100%;
}
.content__right_wrapper {
  border-radius: 6px;
  overflow: hidden;
}
.content__left {
  flex-shrink: 0;
}
.content__search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 8px 16px;
  border: 1px solid #D9E1EC;
}
.content__search input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: #5A607F;
}
.content__main {
  background: #fff;
  padding: 28px;
}
.content__main_first-floor {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content__main_second-floor {
  margin-top: 40px;
}
.content__first-floor-line {
  margin-top: 4px;
}
.content__steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -4px;
}
.content__one-step {
  display: flex;
  gap: 24px;
}
.content__one-step span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #F5F6FA;
}

.recs__box {
  padding: 20px;
  border-radius: 4px;
  background: #F5F6FA;
}/*# sourceMappingURL=style.css.map */