@import "components/_typography"
@import "components/_modal"
    
.button
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    padding: 14px 12px
    border-radius: 100px
    background: #0059D7
    color: #FFF
    font-size: 16px
    font-weight: 400
    line-height: 120%
    outline: none
    border: none
    transition: background .3s ease

    @media ( max-width: 768px )
        font-size: 12px

.btn-header
    position: absolute
    background: rgba(0, 89, 215, 0.49)
    padding: 0px 12px
    transition: all .3s ease
    z-index: 100

    @media (max-width: 768px)
        padding: 0

    &_tg
        width: 150px
        height: 48px
        top: 0
        right: 200px

        @media (max-width: 768px)
            width: 28px
            height: 28px
            right: 54px
            top: 12px

        &.iconed
            right: 0

            @media (max-width: 768px)
                right: 54px
                top: 12px

    &_an
        width: 185px
        height: 48px
        right: 0
        top: 0

        @media (max-width: 768px)
            width: 28px
            height: 28px
            right: 16px
            top: 12px

        &.iconed
            top: 50px

            @media (max-width: 768px)
                right: 16px
                top: 12px

    span
        text-align: center
        text-wrap: nowrap
        text-overflow: ellipsis
        width: 100%
        overflow: hidden
        transition: all .3s ease

        @media (max-width: 768px)
            display: none

    svg
        position: absolute
        top: 0
        left: 0
        width: 40px
        height: 40px
        opacity: 0
        pointer-events: none
        transition: all .3s ease

        @media (max-width: 768px)
            width: 28px
            height: 28px

    &.iconed
        width: 40px
        height: 40px
        background: white

        &:hover
            background: #a8c5ee

        @media (max-width: 768px)
            width: 28px
            height: 28px

        span
            opacity: 0
            pointer-events: none

        svg
            opacity: 1

        
        

@media (hover:hover)
    .btn-header
        &:hover
            background: #0059D7

@media (hover: none)
    .btn-header
        &:active
            background: #a8c5ee


.container
    width: 100%
    max-width: 1070px
    padding-inline: 10px
    margin-inline: auto

    &_xl
        max-width: 1190px

    &_s
        max-width: 950px

    @media ( max-width: 768px )
        padding-inline: 16px

.scrollbar
    position: fixed
    left: 8vw
    top: 50%
    transform: translateY(-50%)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 76px
    padding: 30px 0
    width: 42px
    border-radius: 40px
    border: 1px solid #FFF
    transition: top .3s ease

    &__point
        cursor: pointer
        display: flex
        flex-shrink: 0
        border-radius: 50%
        width: 8px
        height: 8px
        background: #FFF
        box-shadow: 0px 4px 9.4px rgba(255, 255, 255, 0.48)
        transition: width .3s ease, height .3s ease

        &.active
            width: 20px
            height: 20px


    @media (max-width: 768px)
        display: none

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100
    padding: 30px 0 0

    @media ( max-width: 768px )
        padding: 0

    &__btns
        display: flex
        align-items: center
        justify-content: end
        gap: 18px

    .container
        position: relative


.main
    position: relative
    overflow-x: hidden

    &__img
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: top center
        z-index: -1
        opacity: 0
        transition: all .3s ease

        &.loaded
            opacity: 1

        &_desk
            @media (max-width:768px)
                display: none

        &_mobile
            display: none

            @media (max-width:768px)
                display: flex

            


.hero
    position: relative
    padding: 200px 0 100px
    min-height: 1000px

    @media ( max-width: 768px )
        padding: 150px 0 100px
        min-height: fit-content

    &__box
        display: grid
        grid-template-columns: 340px 1fr
        gap: 30px

        @media ( max-width: 768px )
            grid-template-columns: 100%
            gap: 60px

    &__left
        padding-top: 24px

        @media ( max-width: 768px )
            padding-top: 0

        &-content
            color: #FFF
            font-size: 30px
            font-style: italic
            font-weight: 200
            line-height: 120%
            text-transform: uppercase  

            @media ( max-width: 768px )
                font-size: 16px

    &__right
        display: flex
        flex-direction: column
        gap: 40px
        justify-content: end
        align-items: end

        @media ( max-width: 768px )
            align-items: start
            justify-content: start
            gap: 24px

    &__title
        color: #E2EEFF
        text-shadow: 2px 2px 7.6px #5C9FFF, 194px 180px 74px rgba(79, 130, 232, 0.01), 124px 115px 68px rgba(79, 130, 232, 0.07), 70px 65px 57px rgba(79, 130, 232, 0.25), 31px 29px 42px rgba(79, 130, 232, 0.43), 8px 7px 23px rgba(79, 130, 232, 0.49)
        font-family: "Bicubik"
        font-size: 129px
        font-weight: 400
        line-height: 110%
        display: flex
        flex-direction: column

        @media ( max-width: 768px )
            font-size: 63px

        span
            font-size: 106px

            @media ( max-width: 768px )
                font-size: 51px

    &__desc
        color: #C8DFFF
        font-size: 64px
        font-weight: 100
        line-height: 110%

        @media ( max-width: 768px )
            font-size: 32px

    &__btn
        display: flex
        align-items: center
        gap: 20px

        @media ( max-width: 768px )
            margin-top: 16px

        span
            color: #FFF
            font-size: 30px
            font-weight: 100
            line-height: 110%

            @media ( max-width: 768px )
                font-size: 24px


        &-svg
            position: absolute
            top: 0
            left: 0
            transition: .3s ease

            @media ( max-width: 768px )
                display: none

            &-hover
                opacity: 0
                pointer-events: none
                user-select: none
                top: -16px
                left: -16px

            &_mob
                display: none

                @media ( max-width: 768px )
                    display: flex



        &-svg-wrapper
            position: relative
            width: 134px
            height: 134px
            display: flex

            @media ( max-width: 768px )
                width: 76px
                height: 76px

        &:hover
            .hero__btn-svg-hover
                opacity: 1
                pointer-events: none

            .hero__btn-svg-nohover
                opacity: 0

.dyn-world
    position: relative
    padding: 100px 0 0

    @media ( max-width: 768px )
        padding: 100px 0 

    &__box
        display: grid
        grid-template-columns: 552px 1fr
        gap: 30px

        @media ( max-width: 768px )
            grid-template-columns: 100%
            gap: 24px

    &__img
        position: relative
        margin-left: auto
        margin-right: 110px
        margin-top: -90px
        height: 440px
        max-width: 440px
        width: 100%
        object-fit: contain
        z-index: -1

        @media ( max-width: 768px )
            position: absolute
            right: -50px
            bottom: -150px
            max-width: 240px
            height: 240px
            margin: 0
        

.rules
    padding: 50px 0 135px

    @media ( max-width: 768px )
        padding: 100px 0

    &__heading
        max-width: 720px
        display: flex
        flex-direction: column
        gap: 16px
        margin-bottom: 40px

        @media ( max-width: 768px )
            max-width: 100%
            gap: 0
            margin-bottom: 52px

    &__title
        margin-bottom: 14px

        @media ( max-width: 768px )
            max-width: 320px
            margin-bottom: 24px

    &__desc

        &.fw-800
            @media ( max-width: 768px )
                margin-top: 12px


.rule-item
    position: relative
    display: flex
    flex-direction: column
    justify-content: end
    gap: 24px
    overflow: hidden
    border-radius: 20px
    padding: 24px 30px
    height: 390px
    user-select: none

    @media ( max-width: 768px )
        height: 234px
        gap: 16px
        padding: 20px 16px
        border-radius: 16px

    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(15, 18, 23, 0.29)
        backdrop-filter: blur(0px)
        z-index: -1
        transition: backdrop-filter .5s ease

    &__img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: -2

    &__box
        display: flex
        flex-direction: column

    &__title
        color: #FFF
        font-size: 24px
        font-weight: 500
        line-height: 120%
        text-transform: uppercase
        margin-bottom: 20px
        transition: margin-bottom .5s ease

        @media ( max-width: 768px )
            font-size: 14px
            margin-bottom: 16px
            line-height: 110%


    &__subtitle
        color: #FFF
        font-size: 18px
        font-style: italic
        font-weight: 500
        line-height: 120%
        opacity: 0
        transition: opacity .6s ease

        @media ( max-width: 768px )
            font-size: 12px
            line-height: 100%

    &__content
        display: flex
        flex-direction: column
        gap: 6px
        opacity: 0
        margin-bottom: 0px
        transition: margin-bottom .5s ease, opacity .5s ease

        @media ( max-width: 768px )
            gap: 4px

    &__point
        color: #FFF
        font-size: 16px
        font-style: italic
        font-weight: 300
        line-height: 120%
        display: flex
        gap: 8px

        @media ( max-width: 768px )
            font-size: 10px
            line-height: 100%
            gap: 6px

        &::before
            content: ''
            width: 6px
            height: 6px
            display: flex
            background: #fff
            border-radius: 50%
            flex-shrink: 0
            margin-top: 7px

            @media ( max-width: 768px )
                width: 4px
                height: 4px
                margin-top: 4px

    &__link
        margin-top: 24px
        width: fit-content
        padding: 10px 12px
        opacity: 0
        transition: opacity 1.2s ease

        @media ( max-width: 768px )
            padding: 8px
            margin-top: 10px

    &.hovered
        .rule-item__subtitle
            opacity: 1

        .rule-item__content
            opacity: 1

        .rule-item__point
            opacity: 1

        .rule-item__link
            opacity: 1

        &::before
            backdrop-filter: blur(6px)


.swiper-rules
    position: relative

    .swiper-slide
        opacity: 0
        transition: opacity 1s ease
        pointer-events: none

        &.visible
            opacity: 1
            pointer-events: all

    &__nav
        position: absolute
        bottom: 0px
        right: -70px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 10px
        z-index: 10

        @media (max-width: 768px)
            position: relative
            bottom: unset
            right: unset
            flex-direction: row-reverse
            margin-top: 15px
            justify-content: end

.swiper-arrow-btn
    cursor: pointer
    width: 37px
    height: 37px
    border-radius: 50%
    border: 2px solid #fff
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0px 4px 9.4px rgba(255, 255, 255, 0.48)
    transition: .3s ease

    @media (max-width: 768px)
        width: 30px
        height: 30px

    svg
        @media (max-width: 768px)
            height: 12px
            width: 6px


    &.swiper-button-disabled
        opacity: 0.5
        pointer-events: none
        
    &.swiper-button-lock
        display: none !important

    &__next
        padding-left: 3px

        @media (max-width: 768px)
            padding-left: 1px

    &__prev
        padding-right: 3px

        @media (max-width: 768px)
            padding-right: 1px

    &:hover
        scale: 1.05

    &:active
        scale: .95
        


.announcement
    padding: 135px 0

    @media (max-width: 768px)
        padding: 100px 0

    &__title
        line-height: 110%

    &__box
        display: grid
        grid-template-columns: 530px 1fr
        gap: 40px

        @media (max-width: 768px)
            grid-template-columns: 100%
            gap: 52px
            

    &__right
        display: flex
        flex-direction: column
        gap: 30px

        @media (max-width: 768px)
            order: -1
            gap: 20px

    &__left
        display: flex
        flex-direction: column
        gap: 16px
        padding: 32px 24px
        background: linear-gradient(221deg, rgba(75, 137, 225, 0.11) 32.25%, rgba(27, 79, 163, 0.53) 86.17%)
        backdrop-filter: blur(9.5px)
        border-radius: 22px

        @media (max-width: 768px)
            border-radius: 16px
            padding: 20px 12px
            gap: 20px

        &-inner
            min-height: 200px

            @media (max-width: 768px)
                min-height: 130px

    &__tab-content
        display: flex
        flex-direction: column
        gap: 16px

        @media (max-width: 768px)
            gap: 12px

    &__tab-title
        color: #FFF
        font-size: 24px
        font-weight: 400
        text-transform: uppercase
        line-height: 120%

        @media (max-width: 768px)
            font-size: 16px
            line-height: 110%

    &__tab-desc
        color: #FFF
        font-size: 18px
        font-weight: 300
        line-height: 120%

        @media (max-width: 768px)
            font-size: 12px
            line-height: 110%


    &__tabs
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 30px 25px
        border: none

        @media (max-width: 768px)
            display: flex
            flex-wrap: wrap
            gap: 12px

.tab
    display: flex
    flex-direction: column
    gap: 12px
    align-items: center
    justify-content: center
    border-radius: 16px
    background: rgba(255, 255, 255, 0.10)
    aspect-ratio: 1 / 1
    padding: 10px
    border: none !important
    outline: none !important
    transition: background .3s ease

    @media (max-width: 768px)
        width: 77px
        height: 77px
        gap: 6px
        border: 8px
        padding: 15px

    &[role=tab][aria-selected=true]
        background: linear-gradient(207deg, rgba(75, 137, 225, 0.42) 24.9%, rgba(27, 79, 163, 0.53) 88.23%), rgba(213, 231, 255, 0.10)

        .tab__num, .tab__month
            font-weight: 500


    &[role=tab]:hover:not([aria-selected=true])
        background: linear-gradient(207deg, rgba(75, 137, 225, 0.42) 24.9%, rgba(27, 79, 163, 0.53) 88.23%), rgba(213, 231, 255, 0.10)

    &__num
        color: #FFF
        text-align: center
        font-size: 40px
        font-weight: 100
        line-height: 100%
        transition: font-weight .3s ease

        @media (max-width: 768px)
            font-size: 32px

    &__month
        color: #FFF
        font-size: 18px
        font-weight: 100
        line-height: 100%
        transition: font-weight .3s ease

        @media (max-width: 768px)
            font-size: 14px



.main-prize
    padding: 135px 0

    @media (max-width: 768px)
        padding: 100px 0

    &__box
        display: grid
        grid-template-columns: 1fr 420px
        gap: 30px

        @media (max-width: 768px)
            grid-template-columns: 100%
            gap: 60px

    &__left
        display: flex
        flex-direction: column
        gap: 40px

        @media (max-width: 768px)
            gap: 24px

    &__title
        font-size: 80px
        line-height: 110%
        
        @media (max-width: 768px)
            font-size: 48px

    &__desc
        max-width: 383px

        @media (max-width: 768px)
            max-width: 250px

    &__card
        position: relative
        border-radius: 22px
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(75, 137, 225, 0.29) 0%, rgba(0, 105, 179, 0.53) 54.59%, rgba(190, 215, 255, 0.53) 100%)
        padding: 30px 24px
        display: flex
        flex-direction: column
        gap: 21px

        .swiper-main-prize__btn

            @media (max-width: 768px)
                border-color: white
                path
                    stroke: white


        @media (max-width: 768px)
            border-radius: 16px
            gap: 12px
            padding: 20px 16px
            max-width: calc(100% - 42px)

    &__right
        padding-top: 240px
        display: flex
        flex-direction: column
        gap: 30px

        @media (max-width: 768px)
            padding-top: 0
            gap: 16px

    &__subtitle
        color: #FFF
        font-size: 30px
        font-weight: 500
        line-height: 110%
        text-transform: uppercase

        @media (max-width: 768px)
            font-size: 16px


.swiper-main-prize
    overflow: hidden

    

    &__pagi
        position: relative
        top: unset
        left: unset
        bottom: unset
        right: unset
        width: fit-content
        display: flex
        align-items: center
        gap: 8px

        .swiper-pagination-bullet
            margin: 0 !important
            width: 15px
            height: 15px
            opacity: 1
            background: transparent
            border: 1px solid #fff
            transition: background .3s ease

            @media (max-width: 768px)
                width: 8px
                height: 8px

            &.swiper-pagination-bullet-active
                background: #fff


    &__content
        color: #FFF
        font-size: 18px
        font-weight: 300
        line-height: 110%

        @media (max-width: 768px)
            font-size: 12px

    &__btn
        border-color: #080E23
        box-shadow: none

    &__nav
        @media (max-width: 768px)
            position: absolute
            bottom: 0
            right: -42px
            flex-direction: column
            margin-top: 0
            


.faq
    padding: 135px 0

    @media (max-width: 768px)
        padding: 100px 0

    &__box
        display: flex
        flex-direction: column
        gap: 16px

        @media (max-width: 768px)
            gap: 12px

    &__title
        text-align: center
        margin-bottom: 40px

        @media (max-width: 768px)
            margin-bottom: 24px
            text-align: left



.faq-item
    cursor: pointer
    border-radius: 22px
    background: linear-gradient(221deg, rgba(75, 137, 225, 0.11) 32.25%, rgba(27, 79, 163, 0.53) 156.95%)
    backdrop-filter: blur(27px)
    padding: 40px
    user-select: none

    @media (max-width: 768px)
        padding: 20px
        border-radius: 16px

    &__head
        display: flex
        gap: 30px
        align-items: center
        justify-content: space-between

        @media (max-width: 768px)
            gap: 10px
            align-items: start

    &__icon
        transition: transform .3s ease
        flex-shrink: 0

        @media (max-width: 768px)
            width: 15px
            height: 15px


    &__title
        color: #FFF
        font-size: 24px
        font-weight: 400
        line-height: 120%
        text-transform: uppercase

        @media (max-width: 768px)
            font-size: 16px

    &__body
        overflow: hidden
        max-height: 0
        transition: max-height 0.2s ease-out

    &__desc
        margin-top: 16px

        @media (max-width: 768px)
            font-size: 12px
            max-width: calc(100% - 30px)

    &.active
        .faq-item__icon
            transform: rotate(45deg)



.feedback
    padding: 135px 0 270px

    @media (max-width: 768px)
        padding: 100px 0

    &__box
        position: relative
        display: grid
        grid-template-columns: 373px 1fr
        gap: 30px
        padding: 100px 38px 50px

        @media (max-width: 768px)
            padding: 30px 12px 25px
            grid-template-columns: 100%
            gap: 20px
            background: linear-gradient(129deg, rgba(75, 137, 225, 0.11) 4.15%, rgba(27, 79, 163, 0.53) 66.46%)
            backdrop-filter: blur(17px)
            border-radius: 16px

    &__bg
        position: absolute
        top: -65px
        left: 0
        width: 100%
        max-width: 930px
        height: 490px
        z-index: -1

        @media (max-width: 768px)
            display: none

    &__left
        display: flex
        flex-direction: column
        gap: 30px

        @media (max-width: 768px)
            gap: 15px

    &__title
        color: #fff
        text-shadow: none
        line-height: 110%

        @media (max-width: 768px)
            text-shadow: 2px 2px 7.6px #5C9FFF, 194px 180px 74px rgba(79, 130, 232, 0.01), 124px 115px 68px rgba(79, 130, 232, 0.07), 70px 65px 57px rgba(79, 130, 232, 0.25), 31px 29px 42px rgba(79, 130, 232, 0.43), 8px 7px 23px rgba(79, 130, 232, 0.49)

    &__desc
        color: #FFF
        font-size: 20px
        font-weight: 300
        line-height: normal

        @media (max-width: 768px)
            font-size: 16px



.feedback-form
    display: flex
    flex-direction: column
    gap: 24px

    @media (max-width: 768px)
        gap: 16px

    &__textarea
        resize: none
        background: transparent
        border-radius: 16px
        border: 1px solid rgba(255, 255, 255, 0.70)
        outline: none
        padding: 16px 14px
        height: 220px
        color: #FFF
        font-size: 18px
        font-style: italic
        font-weight: 100
        line-height: 120%

        @media (max-width: 768px)
            font-size: 12px
            line-height: 110%
            padding: 16px
            height: 92px

        &::placeholder
            color: #fff
            opacity: .5

    &__btn
        width: fit-content

        @media (max-width: 768px)
            font-size: 14px




.footer
    background: #00091E
    padding: 40px 0 30px

    @media (max-width: 768px)

    &__cont
        width: 100%
        max-width: 1140px
        padding-inline: 10px
        margin-inline: auto

        @media (max-width: 768px)
            padding-inline: 16px

    &__grid
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 42px


    &__logo
        display: flex

        svg
            @media (max-width: 768px)
                width: 100%
                height: 100%

        @media (max-width: 768px)
            max-width: 84px
            height: 26px

    &__social
        display: flex
        align-items: center
        justify-content: end
        gap: 16px

        @media (max-width: 768px)
            gap: 10px

    &__link
        display: flex

        svg
            @media (max-width: 768px)
                width: 28px
                height: 28px

        path
            transition: fill .3s ease

        &:hover
            path
                fill: #5C9FFF


    &__madein
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        grid-column: span 2
        color: #FFF
        font-size: 20px
        font-weight: 300
        line-height: 100%

        @media (max-width: 768px)
            font-size: 16px

        a
            transition: opacity .3s ease

            &:hover
                opacity: .8


.rule-modal
    &__box
        position: relative
        max-width: 943px
        display: flex
        flex-direction: column
        gap: 30px
        margin-top: 16px

        @media (max-width: 768px)
            max-width: 100%
            margin-top: 10px
            gap: 20px

    &__subtitle
        color: #080E23
        font-size: 34px
        font-weight: 500
        line-height: 120%

        @media (max-width: 768px)
            font-size: 16px
            line-height: 110%
            order: -1

        span
            color: #0059D7

    &__winners
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 23px

        @media (max-width: 768px)
            grid-template-columns: 100%
            gap: 10px


    &__criteria
        color: #080E23
        font-size: 18px
        font-style: italic
        font-weight: 100
        line-height: 110%
        
        @media (max-width: 768px)
            font-size: 16px

        b
            font-weight: 300

    &__nav
        bottom: 50px

        @media (max-width: 768px)
            bottom: unset
            margin-top: -10px
            order: 1
            justify-content: start

.swiper-modal-rule-title
    overflow: hidden


.rule-winner
    padding: 25px 23px 30px
    border-radius: 20px
    background: rgba(0, 89, 215, 0.20)

    @media (max-width: 768px)
        padding: 16px
        display: grid
        grid-template-columns: 64px 1fr
        column-gap: 12px

    &:nth-child(2)
        .rule-winner__img
            border-color: #4692FF

    &:nth-child(3)
        .rule-winner__img
            border-color: #93BFFF


    &__img-box
        position: relative
        height: 157px
        width: 157px
        margin-inline: auto
        margin-bottom: 30px
        
        @media (max-width: 768px)
            width: 64px
            height: 64px
            grid-row: 1 / 3
            margin-top: auto
            margin-bottom: auto

        svg
            position: absolute
            bottom: -20px
            right: -17px

            @media (max-width: 768px)
                width: 26px
                height: 31px
                bottom: -8px
                right: -3px

    &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%
        border: 5px solid #0059D7

        @media (max-width: 768px)
            border: 2px solid #0059D7


    &__title
        color: #080E23
        text-align: center
        font-size: 18px
        font-weight: 300
        line-height: 120%
        margin-bottom: 7px

        @media (max-width: 768px)
            text-align: left
            font-size: 16px
            line-height: 110%

    &__desc
        color: #080E23
        font-size: 14px
        font-weight: 100
        line-height: 120%
        text-align: center

        @media (max-width: 768px)
            text-align: left
            font-size: 12px

.swiper-modal-rule-winners
    overflow: hidden
    border-radius: 20px

    @media ( max-width: 768px )
        order: 0

.swiper-modal-rule-criteria
    overflow: hidden

    @media ( max-width: 768px )
        order: 2
        



.login-page
    position: relative
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    padding: 16px

    @media ( max-width: 768px )
        padding: 32px

    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(15, 18, 23, 0.19)
        backdrop-filter: blur(42px)
        z-index: -1

    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        z-index: -2

    &__box
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 16px
        background: #fff
        border-radius: 22px
        padding: 40px
        max-width: 552px
        width: 100%

        @media ( max-width: 768px )
            max-width: 100%
            padding: 40px 14px

    &__title
        color: #000
        text-align: center
        font-size: 30px
        font-weight: 400
        line-height: 100%
        text-transform: uppercase

        @media ( max-width: 768px )
            font-size: 22px

    &__form
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
        width: 100%

    &__input
        width: 100%
        border-radius: 80px
        border: 1px solid #000
        padding: 15px 25px
        background: #fff
        outline: none
        color: #000
        font-size: 18px
        font-weight: 100
        line-height: 100%

        @media ( max-width: 768px )
            padding: 13px 23px

        &::placeholder
            color: #000
            opacity: .3

    &__btn
        width: fit-content
        padding: 20px 45px
        font-size: 20px
        font-weight: 300
        transition: opacity .3s ease
        margin-top: 24px

        @media ( max-width: 768px )
            padding: 18px 30px
            font-size: 16px

        &:hover
            opacity: .7

    &__link
        color: #000
        text-align: center
        font-size: 18px
        font-weight: 100
        line-height: 120%
        transition: opacity .3s ease

        @media ( max-width: 768px )
            font-size: 16px

        &:hover
            opacity: .7